@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body		{ font-family: 'NanumSquare', sans-serif; }
.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }

.row{
    display: flex;
}
.row-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.regular-wrap{
    padding: 80px 0;
}
img{
    width: 100%;
}
.w-33{
    width: 33.33%;
}
.f-32{
    font-size: 32px;
}
.f-24{
    font-size: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commons */
body{
    font-size:15px;
}
a{
    text-decoration: none;
    color:inherit;
}
li{
    list-style: none;
}
/* btn */
.btn-top {
    position: fixed;
    border: none;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    width: 56px;
    height: 56px;
    display: none;
    background: url(../images/btn/btn_top.png) no-repeat 0 0;
    cursor: pointer;
    transition: .5s;
}
/* header  */

header{
    width: 100%;
    position: fixed;
    z-index: 99;
    height: 80px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 20%);
}
.gnb{
    display: flex;
    justify-content: space-between;
}
.left-navi{
    display: flex;
    padding: 26px 0 0 40px;
}
.left-menu{
    display: flex;
    padding-left: 80px;
}
.left-menu a{
    font-size: 16px;
}
.left-menu li+li{
    margin-left: 40px;
}
.left-menu li{
    margin-top: 2px;
    color: #222222;
    font-weight: 500;
}
.right-navi{
    padding: 24px 40px 0;
}
.right-menu{
    display: flex;
}
.log-in-btn{
    padding: 4px 12px;
    margin: 0 12px;
    border: none;
    border-radius: 4px;
    background-color: #00aa91;
    color: #fff;
}

.right-menu li{
    margin-top: 2px;
    padding: 0 12px;
    position: relative;
}
.right-menu a{
    font-size: 14px;
}
.right-menu li a::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    top: 0;
    left: -0.8px;
    background-color: #d9d9d9;
    z-index: 99;
}
.txt-primary{
    color: #00aa91;
}

.menu-btn{
    display: none;
}
/* header end */
/* section01 */
.slide .swiper-slide{
    width: 100%;
    height: 630px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg1{
    background:url('../images/section01/bg_visual_24.jpg')
}
.bg2{
    background:url('../images/section01/bg_visual_22.jpg')
}
.bg3{
    background:url('../images/section01/bg_visual_20.jpg')
}
.swiper-button-next{
    top: 85%;
    right:67.7%;
}
.swiper-button-prev{
    top: 85%;
    left:26%;
}
.swiper-button-next::after{
    font-size: 0 !important;
}
.swiper-button-prev::after{
    font-size: 0 !important;
}
.swiper-pagination{
    width: 80px;
    position: absolute;
    bottom: 13.5%;
    left: 27.3%;
}
.main-btn01{
    position:absolute;
    padding: 15px 20px;
    top: 60%;
    left:26%;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    background: none;
    font-size: 16px;
    font-weight: 700;
}
.main-btn02{
    position:absolute;
    padding: 15px 20px;
    top: 78%;
    left: 46%;
    color: #fff;
    border: 1px solid #00aa91;
    border-radius: 4px;
    background: #00aa91;
    font-size: 16px;
    font-weight: 700;
}
.swiper-slide{
    position: relative;
}
.mobile-slide{
    display: none;
}
.mobile-slide .swiper-button-next::after{
    color: #fff;
}

.mobile-slide .swiper-button-prev::after{
    color: #fff;
}


.notice-wrap{
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}
.shipping-wrap{
    border-bottom: 1px solid #d9d9d9 ;
}
.conts-area{
    width: 960px;
    margin: auto;
}

.notice-area{
    height: 76px;
}
.notice-area h2,.notice-area span{
 font-size: 16px;
}
.notice-area span{
    margin-left: 30px;
}
.notice-area a:hover{
    text-decoration: underline;
}
.shipping-image{
    padding: 60px 60px 0;
}
.shipping-text h3{
    padding: 15px 0;
}

.shipping-wrap button{
    background-color: #00aa91;
    color: #ffffff;
    border: none;
    padding: 10px 32px;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
}
/* section01 end */
/* section02 */
.section02{
    width: 100%;
    height: 720px;
    background: url(../images/section02/bg_regular_03.png)
    no-repeat;
    background-position: center;
    border-bottom: 1px solid #d9d9d9 ;
}
.section02 b{
    font-size: 32px;
    font-weight: 700;
}
/* mobile-section02 */
    .mobile-introduction{
        width: 100%;
        display: none;
    }
    .m-intro-box{
        width:100%;
        margin: 0 auto;
    }
    .in-box{
        width: 70%;
        display: flex;
        margin: 20px auto;
        align-items: center;
    }
    .in-box img{
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }
    .in-box h3{
        font-size: 15px;
        font-weight: 900;
    }
/* section02 end */
/* section03 */
.sec03-container{
    justify-content: center;
    text-align: left;
}

.sec03-box{
    width: 460px;
    height: 168px;
    background-position: right;
    background-size: cover;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    box-sizing: border-box;
    padding-top: 32px;
    padding-left: 32px;
    margin: 0 20px;
}
.bg01{
    background: url(../images/section03/bn_order.png) no-repeat 292px 100%;
}
.bg02{
    background: url(../images/section03/bn_large_order.png) no-repeat 292px 100%;
}
.tit{
    color: #111;
    letter-spacing: -1px;
}
.desc{
    margin-top: 20px;
    color: #999;
}
/* section03 end */
/* section04 */
.section04{
    height: 630px;
    background: url(../images/section04/bg_down.jpg) no-repeat 50%;
}
.down{
    justify-content: center;
}
.down-btn{
    width: 182px;
    height: 56px;
    margin: 0 10px;
}
/* section04 end */
footer{
    background: #000;
    font-size: 14px;
}
footer .conts-area{
    padding:32px 20px 52px ;
}
.util{
    margin-bottom: 20px;
}
footer li{
    color: #fff;
    margin-right: 20px;
    position: relative;
}
footer li::after{
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,.2);
}
footer h4{
    color: #999;
    line-height: 1.5;
    margin-bottom: 20px;
}
footer p{
    color: #666;
}
.top-btn img{
    position: fixed;
    right: 80px;
    bottom: 100px;
    width: 100px;
    height: 100px;
}

@media(max-width:1921px){
    .swiper-button-next{
        top: 85%;
        right:68.4%;
    }
    .swiper-button-prev{
        top: 85%;
        left:25%;
    }
    
    .swiper-pagination{
        width: 80px;
        position: absolute;
        bottom: 13.5%;
        left: 26.3%;
    }
    .main-btn01{
        position:absolute;
        padding: 15px 20px;
        top: 60%;
        left:25%;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        background: none;
        font-size: 16px;
        font-weight: 700;
    }
}
@media(max-width:1441px){
    .swiper-button-next{
        top: 85%;
        right:74.2%;
    }
    .swiper-button-prev{
        top: 85%;
        left:17%;
    }
    
    .swiper-pagination{
        width: 80px;
        position: absolute;
        bottom: 13.5%;
        left: 18.8%;
    }
    .main-btn01{
        position:absolute;
        padding: 15px 20px;
        top: 60%;
        left:17%;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        background: none;
        font-size: 16px;
        font-weight: 700;
    }
}
@media(max-width:1025px){
   
    body{
        overflow-x: hidden;
    }
    .right-menu{
        background: rgba(0,170,145,0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top:0;
        width: 100%;
        left: 0;
        height: 100vh;
        margin-left: 1024px;
        transition: all 0.3s;
        z-index: 50;
    }
    .log-in-btn{
        font-weight: bold;
        font-size: 1.5rem;
        border: none;
        background: none;
        color: #fff;
    }
    .gnb-btn{
        margin-left:0;
    }
    .right-menu li{
        margin: 20px 0;
    }
    .menu-btn{
        font-size: 30px;
    }
    .right-menu a{
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .right-menu li a::after{
        display: none;
    }
    .menu-btn{
        display: block;
        position: absolute;
        top: 27px;
        right: 20px;
        z-index: 9999;
    }
    /* section01 */

    .swiper-button-next{
        top: 85%;
        right:84.3%;
    }
    .swiper-button-prev{
        top: 85%;
        left:3.5%;
    }
    
    .swiper-pagination{
        width: 80px;
        position: absolute;
        bottom: 13.5%;
        left:5.8%;
    }
    .main-btn01{
        position:absolute;
        padding: 15px 20px;
        top: 60%;
        left:3.5%;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        background: none;
        font-size: 16px;
        font-weight: 700;
    }
}
    

@media(min-width:1024px){
    header a{
        font-size: 0.80rem;
        letter-spacing: -1px;
    }
    
}
@media(max-width:960px){
    .conts-area{
        width: 100%;
    }
    .sec03-box{
        margin: 30px auto;
    }
}
@media(max-width:958px){
    .section02{
        width: 100%;
        height: 680px;
        background: url(../images/section02/mobile_bg_regular_03.png)no-repeat;
        background-position: bottom;
        border-bottom: 1px solid #d9d9d9 ;
    }  
  .sec03-container{
      flex-direction: column;
      justify-content: center;
  }  
}

/* 2021-10-15 add */
@media(max-width:768px){
    .main{
        padding-top: 80px;
    }
    .mobile-slide{
        display: block
    }
    .mobile-slide .swiper-slide{
        height: auto;
    }
    .pc-slide{
        display: none;
    }
    .swiper-button-next::after{
        font-size: 3rem !important;
    }
    .swiper-button-prev::after{
        font-size: 3rem !important;
    }
    .swiper-button-next{
        top: 50%;
        right:3%;
    }
    .swiper-button-prev{
        top: 50%;
        left:3%;
    }
    
    .swiper-pagination{
        display: none;
        width: 80px;
        position: absolute;
        bottom: 3%;
        left:45%;
    }
    .main-btn01{
        position:absolute;
        padding: 15px 20px;
        top: 60%;
        left:3.5%;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        background: none;
        font-size: 16px;
        font-weight: 700;
    }

    .mobile-slide img{
        width: 100%;
    }
    .left-navi{
        padding: 0;
        display: block;
    }
    .left-menu{
        padding: 0;
        margin-left: 15px;
        margin-top: 7px;
        width: 100%;
    }
    .left-menu a{
        font-size: 0.89rem;
        letter-spacing: -1px;
    }
    .logo{
        text-align: center;
    }
    .xi-bars{
        font-size: 2rem;
        margin-top: 9px;
    }
    .menu-btn {
        right: 8px;
    }
    .shipping-wrap .row{
        flex-direction: column;
    }
    .shipping-wrap .w-33{
        width: 100%;
    }
    .shipping-wrap img{
        width:30%;
        justify-content: center;
    }

    /* section03 */
    .sec03-container{
        flex-direction: column !important;
    }
    
}

@media(max-width:541px){
    /* section01 */
    .shipping-wrap img{
        width:80%;
    }
    /* section02 */
    .section02{
        background:none;
    }
    .mobile-introduction{
        display: block;
    }
    /* section03 */
    .sec03-box{
        width: 90%;
    }
}

@media(max-width:415px){
    
    /* section03 */
    .sec03-box{
        width: 90%;
    }
    .bg01{
        background: url(../images/section03/bn_order.png) no-repeat 100px 20%;
        background-position: right bottom;
    }
    .bg02{
        background: url(../images/section03/bn_large_order.png) no-repeat 100px 20%;
        background-position: right bottom;
    }
    .tit{
        width: 50%;
        font-size:  20px;
    }
    .desc{
        font-size: 10px;
    }
}
@media(max-width:410px){
    .down{
        flex-direction: column;
    }
    .down li{
        margin: 10px auto;
    }

}
@media(max-width:321px){
    .left-menu li a{
        font-size: 10px;
    }
}